<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
         <content-type
            base-type="org.eclipse.core.runtime.text"
            id="com.liferay.ide.editor.contenttype.parent"
            name="Liferay IDE Editor Supported Content Type "
            priority="normal"/>
         <content-type
            base-type="com.liferay.ide.editor.contenttype.parent"
            file-extensions="gradle,groovy,gvy"
            id="com.liferay.ide.editor.contenttype.groovy"
            name="Gradle/Groovy"
            priority="normal">
         </content-type>
          <content-type
            base-type="com.liferay.ide.editor.contenttype.parent"
            file-extensions="ftl"
            id="com.liferay.ide.editor.contenttype.freemarker"
            name="FreeMarker"
            priority="normal">
         </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="com.liferay.ide.editor.contenttype.parent"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <grammar
            path="syntaxes/groovy.tmLanguage.json"
            scopeName="source.groovy">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="com.liferay.ide.editor.contenttype.groovy"
            scopeName="source.groovy">
      </scopeNameContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <grammar
            path="syntaxes/html.json"
            scopeName="text.html.basic">
      </grammar>
   </extension>
   <extension
         point="org.eclipse.tm4e.registry.grammars"> 
      <grammar
            path="syntaxes/ftl.tmLanguage"
            scopeName="text.html.ftl">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="com.liferay.ide.editor.contenttype.freemarker"
            scopeName="text.html.ftl">
      </scopeNameContentTypeBinding>
   </extension>
</plugin>
